.index-page-box {
    
    .content {
        width: 1220px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .left {
            width: 910px;

        }
        .right {
            width: 290px;
        }
    }
}