.menuItem-component-box {
    width: 64px;
    padding-top: 30px;
    padding-bottom: 16px;
    font-size: 16px;
    position: relative;

    .menuItem-title {
        cursor: pointer;
    }
    &:hover {
        .bottom-line {
            visibility: visible;
            bottom: -2px;
            left: 0;
            transition: left 0.2s;
        }
        .menuChildren-box {
            visibility: visible;
            right: -1px;
            opacity: 1;
            transition: all .3s ease;
        }
    }
    .bottom-line {
        visibility: hidden;
        width: 100%;
        border: 1px solid #000;
        position: absolute;
        bottom: -3px;
        left: -20px
    }
    .menuChildren-box {
        visibility: hidden;
        max-width: 300px;
        min-width: 200px;
        padding: 28px 10px 13px 30px;
        position: absolute;
        right: 25px;
        opacity: .3;
        top: 70px;
        z-index: 100;
        background: #fff;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
        font-size: 12px;
        color: #9c9c9c;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .menu-child {
            margin: 5px;

            a {
                color: #9c9c9c;
                text-decoration: none;
                white-space: nowrap;
                cursor: pointer;
            }
        }
    }
}