.promotion-product-component-box {
    display: flex;
    justify-content: space-between;
}
.product-card-component-box {
    width: 210px;
    height: 164px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 1px 1px 10px 0 rgba(183,183,188,.1);
    border-radius: 8px;
}